/*global style*/

:root {
    --font-size-p: 1rem;

    --second-clr: rgba(92, 72, 194, 1);
    --bg-clr: #2e2e2e;
    --success-clr: rgba(44, 59, 44, 1);
    --button-clr: rgba(234, 118, 32, 1);
    --font-clr: #f3f3f3;
    --footer-clr: rgba(231, 231, 231, 1);
}


*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--bg-clr);
    font-family: 'Nunito', sans-serif;
}

button,
a,
input,
textarea,
select {
    font-family: inherit;
    resize: none;
}

main{
    color: var(--font-clr);
    min-height: 100vh;
}

img{
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
img:hover{
    transform: scale(1.05);
}
li{
    list-style-type: none;
}

h1{
    padding-bottom: 20px;
}
h2{
    color: var(--font-clr);
    padding: 10px;
}

a{
    color: var(--bg-clr);
}

a:hover{
    text-decoration: none;
}

p{
    margin-top: 0%;
}

/*styles*/

/*header styles*/

.header {
    background-color: var(--second-clr);
    display: grid;
    grid-template-columns: 161px 1fr 1fr;
    align-items: center;
    min-height: 6em;
    margin-bottom: 15px;
}

.logo{
    max-width: 161px;
    padding: 10px 0 0 0 ;
    cursor: pointer;
}

.logo:hover{
    transform: none;
}

.icon{
    display: flex;
    justify-self:right;
    gap: 2.5rem;
    margin-right: 1.5em;
    cursor: pointer;
}

@media (max-width: 600px){
    .header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        gap: 1px;
        padding: 0.8rem;
    }

    .search-bar{
        max-width: 90%;
        grid-area: 2 / span 2;
    }

    .logo{
        padding: 0;
        max-width: 120px;
    }

    .icon{
        gap: 1.5rem;
    }
}



.search-bar{
    size: 40px;
    border: 2px solid var(--bg-clr);
    display: flex;
    border-radius: 100vh;
    height: 40px;
    width: 40px;
    position: relative;
    transition: width 400ms ease-in-out;
    overflow: hidden;
    margin-left: 1rem;
}
.search-bar-input{
    flex-grow: 1;
    font-size: 1rem;
    padding: 0 0.5rem;
    border: 0;
    position: absolute;
    background: var(--footer-clr);
    top: 0;
    bottom: 0;
    left: 0;
    line-height: 37px;
    opacity: 0;
    cursor: pointer;

}
.search-bar-input:focus{
    outline: 0;
}

.search-bar-submit{
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    background: transparent;
    border-radius: 100vh;
    width: 37px;
    height: 37px;
    padding: 3px;
    margin-left: auto;
   
}
.search-bar:focus-within{
    width: 100%;
    background: var(--footer-clr);
}

.search-bar-input:focus-within{
    opacity: 1;
    cursor: initial;
    background: var(--footer-clr);
    width: 90%
} 

/*hero*/

.hero { 
    background-image: url(images/Header-felix-mooneeram-evlkOfkQ5rE-crop.jpg);
    font-family: 'Roboto Slab', serif;
    font-size: 2.6rem;
    color: var(--font-clr);
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center bottom 25%; 
    background-repeat: no-repeat;
    text-align: center;
} 

@media (max-width: 800px){
    .hero{
        font-size: 2rem;
    }
}
@media (max-width: 600px){
    .hero{

        font-size: 1.2rem;
        font-weight: 400;
    }
}

.btn{
    background-color: var(--button-clr);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    width: 252px;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--bg-clr);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 10px  black;
}

@media (max-width: 600px) {
    .btn{
        font-size: 1rem;
        width: 156px;
        font-weight: 600;
    }
}


.btn:hover{
  background-color: rgba(234, 118, 32, 90%);
}

.category {
    display: grid;
    gap: 15px;
    padding: 0%;
    grid-auto-flow: column;
    grid-auto-columns: 22%;
    overflow-x: auto;
    margin: 15px 10px;
    min-height: 62px;
}
.category-element{
    background-color: var(--second-clr);
    font-size: 1.3rem;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 0px;
}

@media (max-width: 600px) {
    .category{
        grid-auto-columns: 35%;
        min-height: 2.8em;
    }
    .category-element{
        font-size: 1rem;
    }

}
.category-element:hover{
    background-color: rgba(92, 72, 194, 70%);
}

.list-of-films{
    margin: 0 10px 15px 10px;
}

.film-selection{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10px;
    color: var(--font-clr); 
    margin:0px 10px 50px 10px; 
}

.film_list{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}


@media (max-width: 600px) {
    p{
        font-size: 0.8rem;
    }
}

.dropdown{
    background-color:  rgba(92, 72, 194, 70%);
    margin: 1rem 0 2rem 0;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px;
    color: var(--font-clr);
}

/*product details*/


.product-card{
    display: grid;
    justify-items: center;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(44, 59, 44, 0.95);
    padding: 10px;
    max-width: 710px;
    margin: auto;
    margin-bottom: 5em;
    font-size: 1.6rem;
}


.product-info{
    line-height: 2em;
}

.product-name{
    grid-column: span 2;
}
.card-img:hover {
    transform: none;
    cursor: initial;
}

@media(max-width: 600px){
    .product-name{
        font-size: 1.5rem;
    }
}
/*order summary*/

.order-summary {
   display: grid;
   margin: auto;
   background-color: var(--footer-clr) ;
   font-size: 1.2rem;
   color: var(--bg-clr);
   border-radius: 10px;
   padding: 10px 20px;
   margin-bottom: 2em;
   max-width: 252px;
   line-height: 1.5;
}

.order-summary p:nth-child(3){
    text-decoration: underline;
}

.product-card i {
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 1.5em;
    color: var(--font-clr);
}

@media(max-width: 600px){
    .product-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-card img{
        max-width: 200px;
    }
    .product-card i{
        font-size: 1.3rem;
    }
    .order-summary{
        margin-bottom: 10px;
    }
}

/*checkout success*/

.checkout-success-body{
    background-color: var(--success-clr);

}
.checkout-success{
    text-align: center;
    font-size: 2rem;
}

.checkout-success-card{
    display: grid;
    grid-template-columns: 25rem;
    justify-content: center;
    justify-items: center;
    height: 400px;
}

.checkout-success-card i{
    padding-top: 2rem;
}

.header-about{
    text-align: center;
    margin: 15px;
}
.about-grid{
    display: grid;
    gap: 15px;
    grid-auto-flow: row;
    justify-items: center;
    margin: auto;
}

.about-grid p{
    background-color: rgba(44, 59, 44, 0.9);
    min-height: 10em;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    max-width: 500px;
    border-radius: 10px;
}

.achivments-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    justify-items: center;
    margin: 50px auto;

}

.achivments-card{
    display: flex;
    background: rgba(44, 59, 44, 0.9);
    font-size: 2rem;
    font-weight: 600;
    width: 305px;
    height:305px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/*contact*/

fieldset{
    border-style: none;
    
}

form{
    background-color: var(--font-clr);
    color: var(--bg-clr);
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px

}

@media(max-width: 600px){
    form{
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 20px 10px;
    }

}

fieldset h1{
    margin-top: 0;
    text-align: center;
}

.form__input{
    background-color: var(--footer-clr);
    border-color: transparent;
    min-width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

form p{
    background-color: var(--success-clr);
    padding: 10px;
    margin-bottom: 0%;
    border-radius: 10px;
    color: #fff;
    font-size: 1.8rem ;
}

/*footer*/
.footer-grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr ;
    background-color: var(--footer-clr);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.footer-link{
    display: flex;
    gap: 4em;
    cursor: pointer;
    margin: 1em;
}
.footer-social{
    display: flex;
    gap: 4em;
    cursor: pointer;
    padding: 1em;
}

.footer-logo{
    display:grid;
    gap: 1em;
    justify-items: center;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .footer-logo{
        grid-area: logo;
    }
    .footer-link{
        grid-area: link;
        margin-bottom: 25px;
    }
    .footer-social{
        grid-area: social;
    }
    .footer-grid{
        grid-template-areas: 
        "logo"
        "link"
        "social";
     }
}